.root {
    -fx-background-color: #f0f0f0; /* Fondo claro */
}

.dialog-pane {
    -fx-background-color: #dddddd; /* Color del panel de diálogo */
}

.label {
    -fx-text-fill: #333333; /* Color del texto */
}

.button {
    -fx-background-color: #bbbbbb; /* Color de fondo de los botones */
    -fx-text-fill: #333333; /* Color del texto de los botones */
}

.button:hover {
    -fx-background-color: #cccccc; /* Cambio de color al pasar el ratón sobre los botones */
}
